<!-- <footer class="rounded-bottom-0 pb-6 pt-9 rounded3 position-relative text-center text-xl-start">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-middle mb-6 pb-8 border-bottom border-1 border-grey">
          <div class="row gy-5 align-items-center">
            <div class="col-xl-8">
              <div class="newsletter m-0">
                <div class="newsletter-title mb-4">
                  <h6 class="text-uppercase fw-medium mb-1 text-white">Subscribe Newsletter</h6>
                  <h2 class="text-white">Don't miss our future updates! Get subscribed today!</h2>
                </div>
                <div class="newsletter-body">
                  <div class="search-bar">
                    <input type="email" placeholder="Email Address" class=" w-md-50"><a href="" class="btn btn2 mx-1 my-2">subscribe</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-6">
              <div class="quick-links">
                <h3 class="text-white mb-2">Quick Link</h3>
                <div class="seperator w-25 border-bottom border-1 border-white mb-6 ms-xl-1 m-auto"></div>
                <ul class="list-unstyled">
                  <li class="mb-4"><a href="about.html">About Us</a></li>
                  <li class="mb-4"><a href="service-list.html">Booking</a></li>
                  <li class="mb-4"><a href="">Services</a></li>
                  <li class="mb-4"><a href="blog-list.html">Vehicles</a></li>
                  <li class="mb-4"><a href="">Tariff</a></li>
                  <li class="mb-4"><a href="">Cities</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-md-6">
              <div class="quick-links">
                <h3 class="text-white mb-2">Features</h3>
                <div class="seperator w-25 border-bottom border-1 border-white mb-6 ms-xl-1 m-auto"></div>
                <ul class="list-unstyled">
                  <li class="mb-4"><a href="">Support Plans</a></li>
                  <li class="mb-4"><a href="">Benifits</a></li>
                  <li class="mb-4"><a href="">Subscriptions</a></li>
                  <li class="mb-4"><a href="">Payment Methods</a></li>
                  <li class="mb-4"><a href="">Onsite Payment</a></li>
                  <li><a href="">Merchant Refund</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom pb-5">
          <div class="row gy-3 align-items-center">
            <div class="col-lg-6">
              <div class="footer-logo1">
                <div class="footer-logo-image text-lg-start">
                  <img src="images/ev-logo-04.png" alt="footer logo" class="w-lg-40 w-md-30 w-50">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="footer-socials d-flex justify-content-center justify-content-lg-end">
                <a href="" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="" class="rounded-circle text-center bg-lightdark"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright px-4 py-2 rounded2 text-center position-relative">
          <div class="overlay bg-white rounded2"></div>
          <div class="copyright-inner position-relative">
            <div class="row gy-4 align-items-center">
              <div class="col-xl-8">
                <div class="copyright-links">
                  <ul class="list-unstyled small d-md-flex text-white justify-content-center justify-content-xl-start">
                    <li class="me-4 my-2"><i class="fa fa-map-marker me-1" aria-hidden="true"></i> 256 Elizaberth Ave, CA, 90025</li>
                    <li class="me-4 my-2"><a href="tel:+4733378901" class="text-white"><i class="fa fa-phone me-1" aria-hidden="true"></i> +569 2316 2156</a></li>
                    <li class="my-2"><a href="mailto:info@website.com" class="text-white"><i class="fa fa-envelope-o me-1" aria-hidden="true"></i> info@sago-taxi.com</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="copyright-info text-xl-end text-white">
                  <p class="small">2025 SAGO-Taxi. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> -->


  <footer class="rounded3 rounded-bottom-0 pt-10 pb-6">
    <div class="container">
      <div class="footer-inner text-white text-center text-xl-start">
        <div class="footer-body my-10">
          <div class="row gx-md-5 gy-5">
            <div class="col-xl-4">
              <div class="footer-info">
                <div class="footer-logo">
                  <img src="images/ev-logo-04.png" alt="footer logo" class="w-60 mb-2">
                </div>
                <div class="footer-info-inner mb-4">
                  <p class="mb-2">Quick support, reliable service, and expert assistance — we’re here to make your travel hassle-free. Reach out anytime for prompt responses and personalized taxi solutions. </p>
                </div>
                <div class="footer-socials d-flex justify-content-center justify-content-xl-start">
                  <a href="" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="" class="rounded-circle text-center bg-lightdark"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          
              <!-- <div class="quick-links">
                <h3 class="text-white mb-2">Quick Link</h3>
                <div class="seperator w-25 border-bottom border-1 border-white mb-6 ms-xl-1 m-auto"></div>
                <ul class="list-unstyled">
                  <li class="mb-4"><a href="about.html">About Us</a></li>
                  <li class="mb-4"><a href="service-list.html">Services</a></li>
                  <li class="mb-4"><a href="">Attorneys</a></li>
                  <li class="mb-4"><a href="blog-list.html">News & Articles</a></li>
                  <li class="mb-4"><a href="">Policies</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div> -->
              <div class="col-xl-4 col-md-6">
                <div class="quick-links">
                  <h3 class="text-white mb-2">Quick Link</h3>
                  <div class="seperator w-25 border-bottom border-1 border-white mb-6 ms-xl-1 m-auto"></div>
                  <ul class="list-unstyled">
                    <li class="mb-4"><a href="/about">About Us</a></li>
                    <li class="mb-4"><a href="/booking">Booking</a></li>
                    <li class="mb-4"><a href="/service">Services</a></li>
                    <li class="mb-4"><a href="/vehicles">Vehicles</a></li>
                    <li class="mb-4"><a href="/tariff">Tariff</a></li>
                    <li class="mb-4"><a href="/cities">Cities</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            <!-- <div class="col-xl-2 col-md-6">
              <div class="quick-links">
                <h3 class="text-white mb-2">Features</h3>
                <div class="seperator w-25 border-bottom border-1 border-white mb-6 ms-xl-1 m-auto"></div>
                <ul class="list-unstyled">
                  <li class="mb-4"><a href="">Support Plans</a></li>
                  <li class="mb-4"><a href="">Benifits</a></li>
                  <li class="mb-4"><a href="">Subscriptions</a></li>
                  <li class="mb-4"><a href="">Payment Methods</a></li>
                  <li class="mb-4"><a href="">Onsite Payment</a></li>
                  <li><a href="">Merchant Refund</a></li>
                </ul>
              </div>
            </div> -->
            <div class="col-xl-4">
              <div class="footer-contact">
                <h3 class="text-white mb-2">Contact Info</h3>
                <div class="seperator w-25 border-bottom border-1 border-white mb-6 ms-xl-1 m-auto"></div>
                <p class="mb-4">Have questions or need assistance? Our team is here to help</p>
                <ul class="list-unstyled">
                  <li class="mb-2"><i class="fa fa-map-marker me-2" aria-hidden="true"></i> 1A, Theni main road, Periyakulam</li>
                  <li class="mb-2"><a href="tel:+4733378901"><i class="fa fa-phone me-2" aria-hidden="true"></i> +91 6379002566</a></li>
                  <li><a href="mailto:info@website.com"><i class="fa fa-envelope-o me-2" aria-hidden="true"></i> info@sago-Taxi.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright px-6 py-4 rounded2 text-center position-relative">
          <div class="overlay bg-white rounded2"></div>
          <div class="copyright-inner position-relative">
            <div class="row gy-4">
              <div class="col-lg-6">
                <div class="copyright-links">
                  <ul class="list-unstyled d-flex flex-wrap justify-content-center justify-content-lg-start">
                    <li class="me-4 small"><a href="">Terms of Conditions</a></li>
                    <li class="me-4 small"><a href="">Privacy Policy</a></li>
                    <li class="small"><a href="">Cookie Policy</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="copyright-info text-lg-end">
                  <p class="small">2025 SAGO-Taxi. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>