<header class="position-relative z-3">
    <div class="header-nav-menu" id="header-nav-menu">
      <div class="container">
        <div class="header-nav-menu-inner py-4">
          <div class="row align-items-center justify-content-between">
            <div class="d-block d-xl-none col-lg-2 col-md-3 col-5">
              <div class="navbar-logo m-0">
                <a href="index-2.html"><img src="images/ev-logo-04.png" alt="Logo" class="w-100"></a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav align-items-center justify-content-between flex-row" id="responsive-menu">
                  <li class="nav-item dropdown">
                    <a class=" px-3 white text-uppercase fw-medium " href="/" 
                         >
                      Home
                    </a>
             
                  </li>
                  <li class="nav-item">
                    <a class="px-3 white text-uppercase fw-medium" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="px-3 white text-uppercase fw-medium" href="/booking">Booking</a>
                  </li>
              
                  <li class="nav-item ">
                    <a class="px-3 white text-uppercase fw-medium" href="/service" role="button"
                      >
                      Services
                    </a>
                 
                  </li>
                  <li class=" mx-2 text-center d-none d-xl-block">
                    <a class="px-3 py-0 text-uppercase fw-medium active text-center" aria-current="page" href="/"><img src="images/ev-logo-04.png" alt="Logo" class="w-50"></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class=" px-3 white text-uppercase fw-medium" href="/vehicles" role="button"
                      >
                      Vehicles
                    </a>
                 
                  </li>
                  <li class="nav-item dropdown">
                    <a class="px-3 white text-uppercase fw-medium" href="/tariff" role="button"
                  >
                      Tariff
                    </a>
                 
                  </li>
                  <li class="nav-item dropdown">
                    <a class=" px-3 white text-uppercase fw-medium" href="/cities" role="button">
                      Cities
                    </a>
              
                  </li>
                  <li class="nav-item">
                    <a class="px-3 white text-uppercase fw-medium" href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="slicknav-mobile"></div>
          </div>
        </div>
      </div>
    </div>
  </header>