<header class="position-relative z-3">
    <div class="header-nav-menu" id="header-nav-menu">
      <div class="container">
        <div class="header-nav-menu-inner py-4">
          <div class="row align-items-center justify-content-between">
            <div class="d-block d-xl-none col-lg-2 col-md-3 col-5">
              <div class="navbar-logo m-0">
                <a href="index-2.html"><img src="images/ev-logo-04.png" alt="Logo" class="w-100"></a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav align-items-center justify-content-between flex-row" id="responsive-menu">
                  <li class="nav-item dropdown">
                    <a class=" px-3 white text-uppercase fw-medium " href="/" 
                         >
                      Home
                    </a>
                    <!-- <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0 "
                          href="index.html">Homepage </a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey active"
                          href="index-2.html">Homepage 2</a></li>
                    </ul> -->
                  </li>
                  <li class="nav-item">
                    <a class="px-3 white text-uppercase fw-medium" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="px-3 white text-uppercase fw-medium" href="/booking">Booking</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class=" px-3 white text-uppercase fw-medium" href="booking.html" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Booking
                    </a>
                    <ul class="dropdown-menu bg-grey p-0 border-0 rounded1 bg-off-white">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="service-list.html">Service List</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="service-detail.html">Service Details</a></li>
                    </ul>
                  </li>   -->
                  <li class="nav-item ">
                    <a class="px-3 white text-uppercase fw-medium" href="/service" role="button"
                      >
                      Services
                    </a>
                    <!-- <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="project-list.html">Project List</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="project-detail.html">Project Detail</a></li>
                    </ul> -->
                  </li>
                  <li class=" mx-2 text-center d-none d-xl-block">
                    <a class="px-3 py-0 text-uppercase fw-medium active text-center" aria-current="page" href="/"><img src="images/ev-logo-04.png" alt="Logo" class="w-50"></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class=" px-3 white text-uppercase fw-medium" href="/vehicles" role="button"
                      >
                      Vehicles
                    </a>
                    <!-- <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="team.html">Our Team</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                        href="team-detail.html">Team Detail</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="career-list.html">Career List</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="career-detail.html">Career Detail</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="gallery.html">Gallery</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="testimonial.html">Testimonials</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="faq.html">Faq</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                        href="price.html">Pricing</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="product-list.html">Product List</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="product-detail.html">Product Single</a></li>   
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                        href="coming-soon.html">Coming Soon</a></li> 
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                        href="error.html">404 Error</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize dark-grey"
                        href="search.html">Search Result</a></li>  
                    </ul> -->
                  </li>
                  <li class="nav-item dropdown">
                    <a class="px-3 white text-uppercase fw-medium" href="/tariff" role="button"
                  >
                      Tariff
                    </a>
                    <!-- <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="product-list.html">Product List</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                        href="product-detail.html">Product Detail</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                        href="cart.html">Cart</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="checkout.html">Checkout</a></li>
                    </ul> -->
                  </li>
                  <li class="nav-item dropdown">
                    <a class=" px-3 white text-uppercase fw-medium" href="/cities" role="button">
                      Cities
                    </a>
                    <!-- <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="blog-list.html">Blog List</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="blog-detail.html">Blog single</a></li>
                    </ul> -->
                  </li>
                  <li class="nav-item">
                    <a class="px-3 white text-uppercase fw-medium" href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="slicknav-mobile"></div>
          </div>
        </div>
      </div>
    </div>
  </header>