<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>About - SAGO-Taxi</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/ev-logo-02.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!--CSS Plugins-->
  <link rel="stylesheet" href="css/plugin.css">
  <!-- Default CSS-->
  <link rel="stylesheet" href="css/default.css">
  <!--Custom CSS-->
  <link rel="stylesheet" href="css/styles.css">

  <!--FontAwesome CSS-->
  <link rel="stylesheet" href="icons/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
  <!-- Header Section Starts -->
  <%- include('../partials/header') %>

  <!-- Header Section Ends -->
  
  <!-- Banner Section Starts -->
  <section class="banner breadcrumb mb-0 pt-11 pb-10 position-relative rounded3 rounded-top-0">
    <div class="overlay rounded3 rounded-top-0"></div>
    <div class="container position-relative">
      <div class="banner-inner pt-10 w-lg-75 m-auto text-center text-white ">
        <div class="section-title mb-2">
          <h1 class="text-white mb-2">About Us</h1>
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="index-2.html">Home</a></li>
            <li class="mx-4"><i class="fa fa-star-o green" aria-hidden="true"></i></li>
            <li><a href="">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section Ends -->

  <!-- About Us Section Starts -->
  <section class="about1 pb-11 pt-10">
    <div class="container">
      <div class="about-inner pb-11">
        <div class="row align-items-center gy-5 gx-xl-5">
          <div class="col-xl-2 col-md-6 order-3 order-xl-1">
            <div class="about-counter text-center">
              <div class="counter-box mb-6 pb-6 border-bottom border-1 border-grey1">
                <h2 class="green"><span class="num" data-val="10"></span>+</h2>
                <span class="text-uppercase black fw-medium">Years Experience</span>
              </div>
              <div class="counter-box mb-6 pb-6 border-bottom border-1 border-grey1">
                <h2 class="green"><span class="num" data-val="40"></span>+</h2>
                <span class="text-uppercase black fw-medium">Drivers</span>
              </div>
              <div class="counter-box mb-6 pb-6 border-bottom border-1 border-grey1">
                <h2 class="green"><span class="num" data-val="10"></span>K+</h2>
                <span class="text-uppercase black fw-medium">Positive Reviews</span>
              </div>
              <div class="counter-box">
                <h2 class="green"><span class="num" data-val="10"></span>K+</h2>
                <span class="text-uppercase black fw-medium">Happy Customers</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 order-2">
            <div class="about-image">
              <img src="images/new-about.jpg" alt="about image" class="w-100 rounded2">
            </div>
          </div>
          <div class="col-xl-6 order-1 order-xl-3">
            <div class="about-info text-center text-xl-start">
              <div class="section-title mb-6">
                <h6 class="text-uppercase fw-medium green1 mb-1">About SAGO-Taxi</h6>
                <h2 class="ps-4 border-start border-3 border-green">Reliable taxi services with a <span class="green">decade of excellence.</span></h2>
              </div>
              <div class="section-body">
                <p class="mb-4 pb-4 border-dashed border-top-0 border-2 border-start-0 border-end-0">With over 10 years of experience in the transport industry, we provide professional, safe, and on-time taxi services. From city rides to outstation travel, our trained drivers and well-maintained fleet ensure a smooth journey every time.</p>
                <div class="about-services mb-6">
                  <div class="row g-0">
                    <div class="col-md-6">
                      <div class="about-service-box p-4 d-flex align-items-center bg-grey rounded2 rounded-bottom-0">
                        <img src="images/customer-support.png" alt="service image" class="me-3 w-20 h-auto">
                        <a class="black text-capitalize fw-bold" href="">24/7 Customer Support</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-service-box p-4 d-flex align-items-center bg-white">
                        <img src="images/PNG/airport-drop.png" alt="service image" class="me-3 w-20 h-auto">
                        <a class="black text-capitalize fw-bold" href="">Airport Pickups & Drops</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-service-box p-4 d-flex align-items-center bg-white">
                        <img src="images/PNG/one-way-trip.png" alt="service image" class="me-3 w-20 h-auto">
                        <a class="black text-capitalize fw-bold" href="">Local & Outstation Rides</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-service-box p-4 d-flex align-items-center bg-grey rounded2 rounded-top-0">
                        <img src="images/online-booking.png" alt="service image" class="me-3 w-20 h-auto">
                        <a class="black text-capitalize fw-bold" href="">Easy Online Booking</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <a href="about.html" class="btn btn2">More About</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Section Ends -->

  <!-- Feature Section Starts -->
  <section class="feature position-relative pb-10">
    <div class="container">
      <div class="feature-inner p-7 rounded2 bg-white border border-2 border-lightgreen">
        <div class="row gx-md-0 gy-5">
          <div class="col-lg-4 col-md-6">
            <div class="feature-box1 pe-7">
              <div class="feature-icon mb-2">
                <img src="images/PNG/pickup-truck.png" class="w-20 h-auto" alt="feature-image">
              </div>
              <div class="feature-info">
                <h5 class="mb-2"><a href="" class="black">Fast & Reliable Pickup</a></h5>
                <p>Get a cab at your doorstep within minutes, anytime, anywhere.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="feature-box2 px-7 border-start border-end border-1 border-grey1">
              <div class="feature-icon mb-2">
                <img src="images/PNG/affordable.png" class="w-20 h-auto" alt="feature-image">
              </div> 
              <div class="feature-info">
                <h5 class="mb-2"><a href="" class="black">Affordable Rates</a></h5>
                <p>Transparent pricing with no hidden charges.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature-box3 ps-7">
              <div class="feature-icon mb-2">
                <img src="images/PNG/driver.png" class="w-20 h-auto" alt="feature-image">
              </div>
              <div class="feature-info">
                <h5 class="mb-2"><a href="" class="black">Experienced Drivers</a></h5>
                <p>Our courteous, background-verified drivers ensure your safety and comfort.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Feature Section Ends -->

  <!-- Work Section Starts -->
  <section class="work pt-10 pb-8 bg-dark text-center text-white rounded3 rounded-start-0 position-relative">
    <div class="overlay rounded3 rounded-start-0"></div>
    <div class="container position-relative">
      <div class="work-inner">
        <div class="section-title mb-8">
          <h6 class="text-uppercase fw-medium text-white mb-1">Why choose us</h6>
          <h2 class="text-white">Your <span class="green">Comfort</span> Is Our <span class="green">Priority.</span> </h2>
        </div>
        <div class="section-body">
          <div class="row gy-5 gx-md-5">
            <div class="col-xl-3 col-md-6">
              <div class="work-box position-relative">
                <div class="work-image mb-5">
                  <img src="images/PNG/on-time-.png" alt="work image" class="rounded-circle object-fit-cover w-60">
                </div>
                <div class="work-info">
                  <h4 class="mb-3 ">On-Time Every Time</h4>
                  <p>We value your time. Our taxis reach you promptly</p>
                </div>
                <div class="work-box-number p-2 rounded-circle border border-3 border-lightgreen bg-green position-absolute">
                  <h4 class="text-white">01.</h4>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="work-box position-relative my-8">
                <div class="work-image mb-5">
                  <img src="images/PNG/cleaning-spray.png" alt="work image" class="rounded-circle object-fit-cover">
                </div>
                <div class="work-info">
                  <h4 class="mb-3 ">Clean & Sanitized Vehicles</h4>
                  <p>Hygiene is a top priority in all our cabs.</p>
                </div>
                <div class="work-box-number p-2 rounded-circle border border-3 border-lightgreen bg-green position-absolute">
                  <h4 class="text-white">02.</h4>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="work-box position-relative">
                <div class="work-image mb-5">
                  <img src="images/PNG/world-wide-web.png" alt="work image" class="rounded-circle object-fit-cover">
                </div>
                <div class="work-info">
                  <h4 class="mb-3 ">Wide Coverage</h4>
                  <p>Serving across multiple cities and towns.</p>
                </div>
                <div class="work-box-number p-2 rounded-circle border border-3 border-lightgreen bg-green position-absolute">
                  <h4 class="text-white">03.</h4>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="work-box position-relative my-8">
                <div class="work-image mb-5">
                  <img src="images/online-booking.png" alt="work image" class="rounded-circle object-fit-cover">
                </div>
                <div class="work-info">
                  <h4 class="mb-3">Easy Booking Options</h4>
                  <p>Book via mobile, website, or call.</p>
                </div>
                <div class="work-box-number p-2 rounded-circle border border-3 border-lightgreen bg-green position-absolute">
                  <h4 class="text-white">04.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Work Section Ends -->

  <!-- Mission Section Starts -->
  <section class="mission py-10">
    <div class="container">
      <div class="mission-inner text-center text-lg-start border-dashed border-2 mb-7 pb-7 border-top-0 border-start-0 border-end-0">
        <div class="row align-items-center gy-5 gx-lg-5">
          <div class="col-lg-6">
            <div class="section-left">
              <img src="images/map-evcharge.png" alt="mission image" class="w-100">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="section-right">
              <div class="section-title mb-6">
                <h6 class="text-uppercase fw-medium green1 mb-1">Convenient & fast</h6>
                <h2 class="ps-4 border-start border-3 border-green"><span class="green">our mission is to </span> safe, convenient, and affordable taxi services that meet the needs of modern travelers.</h2>
              </div>
              <div class="section-body">
                <p>We're provide safe, convenient, and affordable taxi services for modern travelers.
                  We aim to deliver reliable rides with professional drivers and seamless booking experiences.
                  Your comfort, safety, and satisfaction are at the heart of everything we do.</p>
                <ul class="list-unstyled mission-list fw-bold mt-4 pt-4 border-dashed border-2 border-bottom-0 border-start-0 border-end-0">
                  <li class="mb-3"><i class="fa fa-leaf green me-1" aria-hidden="true"></i>Hassle-free online booking and payments</li>
                  <li class="mb-3"><i class="fa fa-leaf green me-1" aria-hidden="true"></i>Trained, professional drivers</li>
                  <li><i class="fa fa-leaf green me-1" aria-hidden="true"></i> Customer-first service approach</li> 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    </div>
  </section>
  
  <!-- Footer Section Starts -->
  <%- include('../partials/footer') %>

  <!-- Footer Section Ends -->



  <!--Back-to-top Button start-->
  <div id="back-to-top">
    <a href="#" class="bg-green position-relative align-items-center rounded-circle d-block border border-4 border-grey"></a>
  </div>
  <!--Bacl-to-top Button end-->
 
  <script src="js/jquery-3.7.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/plugin.js"></script>
  <script src="js/main.js"></script>
</body>
</html>