<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Contact Us - SAGO-Taxi</title>
  
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/ev-logo-02.png">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
  
    <!--CSS Plugins-->
    <link rel="stylesheet" href="css/plugin.css">
    <!-- Default CSS-->
    <link rel="stylesheet" href="css/default.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="css/styles.css">
  
    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="icons/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
  </head>
<body>
  <!-- Header Section Starts -->
  <%- include('../partials/header') %>
  <section class="banner breadcrumb mb-0 pt-11 pb-10 position-relative rounded3 rounded-top-0">
    <div class="overlay rounded3 rounded-top-0"></div>
    <div class="container position-relative">
      <div class="banner-inner pt-10 w-lg-75 m-auto text-center text-white ">
        <div class="section-title mb-2">
          <h1 class="text-white mb-2">Contact Us</h1>
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="/">Home</a></li>
            <li class="mx-4"><i class="fa fa-star-o green" aria-hidden="true"></i></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>


<section class="contact py-6 position-relative">
    <div class="overlay"></div>
    <div class="container position-relative pb-8">
      <div class="contact-inner text-center text-lg-start">
        <div class="row gx-xl-5 gy-5 align-items-center">
          <div class="col-lg-6">
            <div class="section-left">
              <div class="section-title mb-4">
                <h6 class="text-uppercase fw-medium green1 mb-1">Touch with us</h6>
                <h2 class="ps-4 border-start border-3 border-green mb-4">Feel free to <span class="green">contact and reach us</span> for more info</h2>
              </div>
              <div class="section-body">
                <p class="mb-4">Have questions or need assistance? Our team is here to help. Feel free to reach out to us anytime — whether you’re looking for more information, need support with a booking, or just want to get in touch. We’re committed to providing prompt and friendly service.</p>
                <div class="contact-info text-center">
                  <div class="row gy-4">
                    <div class="col-lg-12">
                      <div class="contact-info-box bg-white text-md-start d-md-flex align-items-center p-4 border border-2 border-lightgreen rounded2">
                        <div class="contact-icon me-5">
                          <i class="fa fa-map-marker text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                        </div>
                        <div class="contact-box-info">
                          <h5 class="mb-1">Location Address:</h5>
                          <span>1A, Theni main road, Periyakulam </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="contact-info-box bg-white p-4 border border-2 border-lightgreen rounded2">
                        <div class="contact-icon mb-5">
                          <i class="fa fa-phone text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                        </div>
                        <div class="contact-box-info">
                          <h5 class="mb-1">Phone Number:</h5>
                          <span><a href="tel:+4733378901" class="grey">+91 6379002566</a></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="contact-info-box bg-white p-4 border border-2 border-lightgreen rounded2">
                        <div class="contact-icon mb-5">
                          <i class="fa fa-envelope-o text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                        </div>
                        <div class="contact-box-info">
                          <h5 class="mb-1">Email Address</h5>
                          <span><a href="mailto:info@website.com" class="grey">info@sago-taxi.com</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="branch-inner text-center">
              <div class="contact-map ">
      
      
      
              <iframe class="rounded2 w-100" height="550" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62864.17214527357!2d77.4221716178083!3d10.015969412969634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b071353e94a7877%3A0x962bf8fd53981722!2sTheni%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1747211437808!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             
           
            </div>
          </div>
      
       
        </div>
      </div>
    </div>
  </section>

  
  
<%- include('../partials/footer') %>

<!-- Footer Section Starts -->

<!--Back-to-top Button start-->
<div id="back-to-top">
  <a href="#" class="bg-green position-relative align-items-center rounded-circle d-block border border-4 border-grey"></a>
</div>
<!--Bacl-to-top Button end-->

<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/plugin.js"></script>
<script src="js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>  