<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Tariff - SAGO-Taxi</title>
  
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/ev-logo-02.png">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
  
    <!--CSS Plugins-->
    <link rel="stylesheet" href="css/plugin.css">
    <!-- Default CSS-->
    <link rel="stylesheet" href="css/default.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="css/styles.css">
  
    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="icons/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
  </head>
<body>
  <!-- Header Section Starts -->
  <%- include('../partials/header') %>
  <section class="banner breadcrumb mb-0 pt-11 pb-10 position-relative rounded3 rounded-top-0">
    <div class="overlay rounded3 rounded-top-0"></div>
    <div class="container position-relative">
      <div class="banner-inner pt-10 w-lg-75 m-auto text-center text-white ">
        <div class="section-title mb-2">
          <h1 class="text-white mb-2">Tariff</h1>
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="/">Home</a></li>
            <li class="mx-4"><i class="fa fa-star-o green" aria-hidden="true"></i></li>
            <li><a href="">Tariff</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="pricing pt-4 position-relative">
    <div class="container">
      <div class="pricing-inner">
        <div class="section-title text-center text-lg-start pt-4">
          <h2 class="ps-4 border-start border-3 border-green">
            Book <span class="green">Reliable</span> and <span class="green">Affordable</span> Taxi Service in Your City!
          </h2>
        </div>
  
        <div class="row gy-4 pt-4 pb-8">
          <!-- Sedan One Way -->
          <div class="col-md-6 col-lg-4">
            <div class="pricing-box bg-success bg-opacity-10 py-4 px-4 rounded2 border border-2 border-lightgreen h-100 d-flex flex-column justify-content-between">
              <div class="price-title text-center mb-3">
                <h4 class="green1 text-uppercase mb-1">One Way Trip</h4>
                <span class="fw-medium">Sedan 4 + 1 <span class="badge bg-success ms-2">A/C</span></span>
              </div>
              <div class="car-img d-flex justify-content-center mb-3">
                <img src="/images/Primesedan.jpg" alt="Sedan" width="160" />
              </div>
              <div class="plan-listing mb-3 text-center">
                <ul class="list-unstyled">
                  <li class="mb-2 pb-2 border-bottom"><i class="fa fa-check green1 me-1"></i> Driver Bata: 300</li>
                  <li class="mb-2 pb-2 border-bottom text-danger"><i class="fa fa-check green1 me-1"></i> Toll, State Tax, Hills, Parking Extra</li>
                </ul>
              </div>
              <div class="plan-price py-3 green1 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <span class="currency fw-bold h5">₹</span>
                  <span class="h1 fw-bold mb-0 lh-1">14</span>
                </div>
                <span>per KM</span>
              </div>
              <div class="pricing-btn text-center">
                <a href="#" class="btn btn2 mb-2">Choose Plan</a>
                <p class="small">*Please read our terms & conditions before booking</p>
              </div>
            </div>
          </div>
  
          <!-- SUV One Way -->
          <div class="col-md-6 col-lg-4">
            <div class="pricing-box bg-white py-4 px-4 rounded2 border border-2 border-lightgreen h-100 d-flex flex-column justify-content-between">
              <div class="price-title text-center mb-3">
                <h4 class="green1 text-uppercase mb-1">One Way Trip</h4>
                <span class="fw-medium">SUV 6 + 1 <span class="badge bg-success ms-2">A/C</span></span>
              </div>
              <div class="car-img d-flex justify-content-center mb-3">
                <img src="/images/SUV.jpg" alt="SUV" width="140" />
              </div>
              <div class="plan-listing mb-3 text-center">
                <ul class="list-unstyled">
                  <li class="mb-2 pb-2 border-bottom"><i class="fa fa-check green1 me-1"></i> Driver Bata: 400</li>
                  <li class="mb-2 pb-2 border-bottom text-danger"><i class="fa fa-check green1 me-1"></i> Toll, State Tax, Hills, Parking Extra</li>
                </ul>
              </div>
              <div class="plan-price py-3 green1 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <span class="currency fw-bold h5">₹</span>
                  <span class="h1 fw-bold mb-0 lh-1">18</span>
                </div>
                <span>per KM</span>
              </div>
              <div class="pricing-btn text-center">
                <a href="#" class="btn btn2 mb-2">Choose Plan</a>
                <p class="small">*Please read our terms & conditions before booking</p>
              </div>
            </div>
          </div>
  
          <!-- Innova One Way -->
          <div class="col-md-6 col-lg-4">
            <div class="pricing-box bg-success bg-opacity-10 py-4 px-4 rounded2 border border-2 border-lightgreen h-100 d-flex flex-column justify-content-between">
              <div class="price-title text-center mb-3">
                <h4 class="green1 text-uppercase mb-1">One Way Trip</h4>
                <span class="fw-medium">Innova 6 + 1 <span class="badge bg-success ms-2">A/C</span></span>
              </div>
              <div class="car-img d-flex justify-content-center mb-3">
                <img src="/images/Innova.jpg" alt="Innova" width="150" />
              </div>
              <div class="plan-listing mb-3 text-center">
                <ul class="list-unstyled">
                  <li class="mb-2 pb-2 border-bottom"><i class="fa fa-check green1 me-1"></i> Driver Bata: 500</li>
                  <li class="mb-2 pb-2 border-bottom text-danger"><i class="fa fa-check green1 me-1"></i> Toll, State Tax, Hills, Parking Extra</li>
                </ul>
              </div>
              <div class="plan-price py-3 green1 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <span class="currency fw-bold h5">₹</span>
                  <span class="h1 fw-bold mb-0 lh-1">20</span>
                </div>
                <span>per KM</span>
              </div>
              <div class="pricing-btn text-center">
                <a href="#" class="btn btn2 mb-2">Choose Plan</a>
                <p class="small">*Please read our terms & conditions before booking</p>
              </div>
            </div>
          </div>
  
          <!-- Crysta Round Trip -->
          <div class="col-md-6 col-lg-4">
            <div class="pricing-box  py-4 px-4 rounded2 border border-2 border-lightgreen h-100 d-flex flex-column justify-content-between">
              <div class="price-title text-center mb-3">
                <h4 class="green1 text-uppercase mb-1">Round Trip</h4>
                <span class="fw-medium">Crysta 6 + 1 <span class="badge bg-success ms-2">A/C</span></span>
              </div>
              <div class="car-img d-flex justify-content-center mb-3">
                <img src="/images/innova-crysta.jpg" alt="Crysta" width="160" />
              </div>
              <div class="plan-listing mb-3 text-center">
                <ul class="list-unstyled">
                  <li class="mb-2 pb-2 border-bottom"><i class="fa fa-check green1 me-1"></i> Driver Bata: 600</li>
                  <li class="mb-2 pb-2 border-bottom text-danger"><i class="fa fa-check green1 me-1"></i> Toll, State Tax, Hills, Parking Extra</li>
                </ul>
              </div>
              <div class="plan-price py-3 green1 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <span class="currency fw-bold h5">₹</span>
                  <span class="h1 fw-bold mb-0 lh-1">21</span>
                </div>
                <span>per KM</span>
              </div>
              <div class="pricing-btn text-center">
                <a href="#" class="btn btn2 mb-2">Choose Plan</a>
                <p class="small">*Please read our terms & conditions before booking</p>
              </div>
            </div>
          </div>
  
          <!-- Sedan Round Trip -->
          <div class="col-md-6 col-lg-4">
            <div class="pricing-box bg-success bg-opacity-10    py-4 px-4 rounded2 border border-2 border-lightgreen h-100 d-flex flex-column justify-content-between">
              <div class="price-title text-center mb-3">
                <h4 class="green1 text-uppercase mb-1">Round Trip</h4>
                <span class="fw-medium">Sedan 4 + 1 <span class="badge bg-success ms-2">A/C</span></span>
              </div>
              <div class="car-img d-flex justify-content-center mb-3">
                <img src="/images/Primesedan.jpg" alt="Sedan Round" width="160" />
              </div>
              <div class="plan-listing mb-3 text-center">
                <ul class="list-unstyled">
                  <li class="mb-2 pb-2 border-bottom"><i class="fa fa-check green1 me-1"></i> Driver Bata: 300</li>
                  <li class="mb-2 pb-2 border-bottom text-danger"><i class="fa fa-check green1 me-1"></i> Toll, State Tax, Hills, Parking Extra</li>
                </ul>
              </div>
              <div class="plan-price py-3 green1 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <span class="currency fw-bold h5">₹</span>
                  <span class="h1 fw-bold mb-0 lh-1">13</span>
                </div>
                <span>per KM</span>
              </div>
              <div class="pricing-btn text-center">
                <a href="#" class="btn btn2 mb-2">Choose Plan</a>
                <p class="small">*Please read our terms & conditions before booking</p>
              </div>
            </div>
          </div>
  
          <!-- SUV Round Trip -->
          <div class="col-md-6 col-lg-4">
            <div class="pricing-box bg-light py-4 px-4 rounded2 border border-2 border-lightgreen h-100 d-flex flex-column justify-content-between">
              <div class="price-title text-center mb-3">
                <h4 class="green1 text-uppercase mb-1">Round Trip</h4>
                <span class="fw-medium">SUV 6 + 1 <span class="badge bg-success ms-2">A/C</span></span>
              </div>
              <div class="car-img d-flex justify-content-center mb-3">
                <img src="/images/SUV.jpg" alt="SUV Round" width="140" />
              </div>
              <div class="plan-listing mb-3 text-center">
                <ul class="list-unstyled">
                  <li class="mb-2 pb-2 border-bottom"><i class="fa fa-check green1 me-1"></i> Driver Bata: 400</li>
                  <li class="mb-2 pb-2 border-bottom text-danger"><i class="fa fa-check green1 me-1"></i> Toll, State Tax, Hills, Parking Extra</li>
                </ul>
              </div>
              <div class="plan-price py-3 green1 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <span class="currency fw-bold h5">₹</span>
                  <span class="h1 fw-bold mb-0 lh-1">16</span>
                </div>
                <span>per KM</span>
              </div>
              <div class="pricing-btn text-center">
                <a href="#" class="btn btn2 mb-2">Choose Plan</a>
                <p class="small">*Please read our terms & conditions before booking</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  

    
<%- include('../partials/footer') %>

<!-- Footer Section Starts -->

<!--Back-to-top Button start-->
<div id="back-to-top">
  <a href="#" class="bg-green position-relative align-items-center rounded-circle d-block border border-4 border-grey"></a>
</div>
<!--Bacl-to-top Button end-->

<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/plugin.js"></script>
<script src="js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>  